<link rel="stylesheet" href="/css/dashboard.css" />
<h1>Welcome!Here's your multitasker dashboard</h1>
<a href="/users/logout">Log Out</a>
<p><%= user.name %></p>
<p><%= user.email %></p>
<p><%= user.account_number %></p>
<p><%= user.balance %></p>

<a href="/users/moneyTransfer">
    <button type="submit" class="btn btn-secondary">Fund Transfer</button>
</a>