<link rel="stylesheet" href="/css/dashboard.css" />
<h1>ProtectPay / Dashboard</h1>
<a href="/users/logout">Log Out</a>
<p><%= user.name %></p>
<p><%= user.email %></p>
<p><%= user.account_number %></p>
<p><%= user.balance %></p>
