<h1>ProtectPay / <%= title %></h1>
<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="sidenav">
  <div class="login-main-text">
    <a href="/"><h2>ProtectPay</h2></a>
    
    <p>Login or register to access your ProtectPay account.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12"> 
    <p>Login to access your ProtectPay account.</p> 
    <a class="link" href="/users/login">
    <button type="submit" class="btn btn-black">Login</button></a>
    <br>
    <br>
    <p>Not registered yet? Register from here to open your ProtectPay account.</p>  
    <a class="link" href="/users/register"> 
    <button type="submit" class="btn btn-black">Register</button></a>
    </div>
  </div>
</div>
