<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="sidenav">
  <div class="login-main-text">
    <a href="/"><h2>ProtectPay</h2></a>
    <p>Login to access your ProtectPay account.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form action="/users/create-session" method="POST">
        <div class="form-group">
          <label>User Name</label>
          <input
            type="text"
            name="email"
            class="form-control"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-black">Login</button>
      </form>
    </div>
  </div>
</div>
