<link rel="stylesheet" href="/css/moneytransfer.css" />

<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="sidenav">
  <div class="login-main-text">
      <h2>ProtectPay</h2>
    </a>
    <p>Transfer Money</p>
  </div>
</div>
<div class="main">
  <div class="start">
    <a class="dashlink" href="/users/dashboard">
      <button type="submit" class="btn btn-black">Dashboard</button></a>
    <div class="heading">
      <h2>Payee List</h2>
    </div>
    <% for(let i of payee_list) {%>
    <ul class="details">
      <li><p><%= i.name %></p></li>
      <li><p>Account: <%= i.account_number %></p></li>
      <!-- <li><button id="show" type="submit" class="btn btn-secondary" >Fund Transfer</button></li> -->
      <li>
        <button
          type="submit"
          class="open-button btn btn-secondary"
          onclick="openForm(<%= i.account_number %>)"
        >
          One time payment
        </button>
      </li>
      <li>
        <button
          type="submit"
          class="open-button btn btn-secondary"
          onclick="openForm1()"
        >
          Schedule payment
        </button>
      </li>

      <!-- <button class="open-button" onclick="openForm()">Open Form</button> -->
    </ul>

    <%}%>
  </div>
</div>

<div class="form-popup" id="myForm">
  <form action="/users/moneyTransfer" method="POST" class="form-container">
    <!-- <h1 name="account_number" id="act"></h1> -->
    <div class="form-group">
      <b>Account number</b>
      <input
        type="number"
        name="account_number"
        class="form-control"
        placeholder="Amount"
        id="act"
        readonly
      />
    </div>
    <label for="amount"><b>Add Amount</b></label>
    <input type="number" placeholder="Enter Amount" name="balance" required />
    <button type="submit" class="btn">Transfer</button>
    <button type="button" class="btn cancel" onclick="closeForm()">
      Cancel
    </button>
  </form>
</div>

<script>
  function openForm(acc) {
    document.getElementById("myForm").style.display = "block";
    document.getElementById("act").value = acc;
  }

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }
</script>
