<div>
  <p>Hi <%= user.name%></p>
  <br />
  <br />
  <p>
    <strong>INR <%= user.lastTrans %></strong> has been credited to your account
    and your current balance is <strong>INR <%= user.balance%></strong>
  </p>
  <br />
  <br />
  <p>Thanks!</p>
</div>
