#main1 {
  /* padding: 0px 10px; */
  margin-top: 0%;
}
.box1 {
  background-color: bisque;
}
.personal-info {
  list-style: none;
  /* margin-top: -16%; */
  padding: 3% 0 3% 3%;
  width: 95%;
  margin-left: 2.5%;
  background-color: antiquewhite;
}

.personal-info li {
  margin-bottom: 6px;
  display: flex;
}

.personal-info li .title {
  color: #4f4f4f;
  float: left;
  font-weight: 500;
  margin-right: 30px;
  width: 40%;
}

.personal-info li .text {
  color: #8e8e8e;
  display: block;
  overflow: hidden;
}
