.main-head {
  height: 150px;
  background: #fff;
}

.sidenav {
  height: 100%;
  background-color: rgb(118, 189, 167);
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
  margin-top: 1%;
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 20%;
  }

  .sidenav {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 5%;
  }

  .register-form {
    margin-top: 1%;
  }
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: rgb(118, 189, 167);
  color: rgb(14, 13, 13);
}
.btn-secondary {
  background-color: rgb(118, 189, 167);
  color: rgb(14, 13, 13);
}

.link {
  text-decoration: none;
}
.btn-black a {
  text-decoration: none;
}

.dashlink {
  float: right;
}
.card-body {
  background-color: bisque;
}
.card-header {
  background-color: bisque;
  text-transform: full-width;
  font-size: large;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
